# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.tmp/

# Rust
/target
Cargo.lock
**/.clue/

# C
*.c

# Editors
.vscode/
.idea/
.zed/
.helix/
*.iml

# Logs
*.log

# Environment
.env

# Binaries
*/*.exe
*.exe

# AI
.junie/
.claude/
.agents/
